.root {
 display: flex;
 flex-direction: row;
  background-color: rgb(212, 49, 49);
}

.title {
}

.toolbar {
  display: flex;
  justify-content: center;
}

.appbar {
  position: absolute;
}

.drawer {
  width: 200px;
}